<meta property="og:site_name" content="Harmonicorps" />
<meta property="og:title" content="Harmonicorps - {{ page.title }}" />
<meta property="og:description" content="{{ page.desc }}" />
<meta property="og:image" content="{{ page.img }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ site.url }}/"><i class="fa fa-home"></i>Home</a>
      <a class="navbar-brand" href="{{ site.url }}/software.html">Software</a>
    </div>
  </div>
</nav>
